@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @screen md {
    .min-h-50vh {
      min-height: 50vh;
    }
    .min-h-80vh {
      min-height: 80vh;
    }
    .min-h-90vh {
      min-height: 90vh;
    }
  }
}
